@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #eeeaea;
  --foreground-rgb: #ffffff;
  --dark-blue: #044985;
  --light-blue: #007BD9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-hex: #eeeaea;
    --foreground-rgb: #ffffff;
    --dark-blue: #044985;
  }
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-hex);
}

header {
  background-color: var(--dark-blue);
  margin-top: 15px;
  margin-bottom: 20px;
}
header >div {
  padding-top: 10px;
  padding-bottom: 10px;
}

html {
  font-family: 'Roboto', sans-serif;
}

main >.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
    background-color: var(--dark-blue);
}